.content {
	margin: 0 auto;
	width: 500px;
}
.address {
	margin: 20px 0;
	overflow: hidden;
}
.address-heading {
	float: left;
	height: 100px;
	margin-right: 20px;
	width: 135px;
}
.address-heading h2 {
	margin: 0;
	padding: 32px 0;
}
.map {
	border: solid #428bca 2px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}